<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="UTF-8">

    <meta name="viewport"
    content="width=device-width, initial-scale=1.0">

    <title>About Us</title>

    <link rel="stylesheet"
    href="{{ url_for('static', filename='style.css') }}">

</head>
<script src="{{ url_for('static', filename='js/script.js') }}"></script>
<body>

    <!-- NAVBAR -->

    <div class="navbar">

        <h1>🍴 Smart Food</h1>

        <div class="nav-links">

            <a href="/">Home</a>

            <a href="/menu">Menu</a>

            <a href="/about">About</a>

            <a href="/cart">Cart</a>

            <a href="/signin">Login</a>

        </div>
</body>
    </div>

    <!-- ABOUT SECTION -->

    <div class="about-section">

        <h1>About Smart Food</h1>

        <p>

            Smart Food App is a modern online food ordering platform
            where customers can explore delicious dishes,
            order food quickly, and enjoy premium quality meals.

            <br><br>

            Our mission is to provide fast delivery,
            hygienic food, and an amazing customer experience.

            <br><br>

            We offer Indian, Chinese, Italian,
            Bihar Special dishes, snacks, beverages,
            desserts, and much more.

        </p>

    </div>

    <!-- FOOTER -->

    <div class="footer">

        <p>
            © 2026 Smart Food App |
            Fresh Food Everyday
        </p>

    </div>

</body>

</html>