<!DOCTYPE html>
<html>
<head>
    <title>Admin Dashboard</title>
</head>
<script src="{{ url_for('static', filename='js/script.js') }}"></script>
<body style="font-family: Arial; background:#f5f5f5;">

    <div style="background:black; color:orange; padding:15px;">
        <h1>Smart Food Admin</h1>
    </div>

    <div style="padding:20px;">
        <h2>Total Orders: 120</h2>
        <h2>Total Users: 85</h2>
        <h2>Total Revenue: ₹45,000</h2>

        <table border="1" cellpadding="10" width="100%">
            <tr style="background:orange; color:white;">
                <th>Order ID</th>
                <th>Customer</th>
                <th>Food Item</th>
                <th>Price</th>
            </tr>

            <tr>
                <td>101</td>
                <td>Shivani</td>
                <td>Pizza</td>
                <td>₹249</td>
            </tr>

            <tr>
                <td>102</td>
                <td>Rahul</td>
                <td>Burger</td>
                <td>₹99</td>
            </tr>
            <tr>
    <td>104</td>
    <td>Aman</td>
    <td>Paneer Pizza</td>
    <td>₹299</td>
</tr>

<tr>
    <td>105</td>
    <td>Priya</td>
    <td>Cold Coffee</td>
    <td>₹149</td>
</tr>

<tr>
    <td>106</td>
    <td>Karan</td>
    <td>Veg Burger</td>
    <td>₹129</td>
</tr>

<tr>
    <td>107</td>
    <td>Neha</td>
    <td>Pasta</td>
    <td>₹199</td>
</tr>

<tr>
    <td>108</td>
    <td>Rohit</td>
    <td>Momos</td>
    <td>₹99</td>
</tr>

<tr>
    <td>109</td>
    <td>Sneha</td>
    <td>French Fries</td>
    <td>₹119</td>
</tr>

<tr>
    <td>110</td>
    <td>Arjun</td>
    <td>Chocolate Shake</td>
    <td>₹179</td>
</tr>
        </table>
    </div>

</body>
</html>