<!DOCTYPE html>
<html>
<head>
    <title>Success</title>

    <style>

        body{
            display:flex;
            justify-content:center;
            align-items:center;
            height:100vh;
            font-family:Arial;
            background:#f4f4f4;
        }

        .box{
            background:white;
            padding:40px;
            border-radius:10px;
            text-align:center;
        }

        h1{
            color:green;
        }

    </style>

</head>
<script src="{{ url_for('static', filename='js/script.js') }}"></script>
<body>

<div class="box">

    <h1>Order Placed Successfully 🎉</h1>

    <h3>Thank You For Ordering</h3>

</div>

</body>
</html>